In [30]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, MinMaxScaler
from functions import split_label

In [32]:
titanic=pd.read_csv('c:/Users/54112/Desktop/Big Data with Python/Big-Data/cap-5/data/titanic.csv')
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [33]:
titanic=titanic.drop(columns=["PassengerId","Name","Ticket","Cabin"])
titanic.head(2)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C

In [34]:
titanic=titanic.dropna()

In [35]:
titanic['Sex']=titanic["Sex"].astype('category').cat.codes

In [36]:
titanic["Sex"]

0      1
1      0
2      0
3      0
4      1
      ..
885    0
886    1
887    0
889    1
890    1
Name: Sex, Length: 712, dtype: int8

In [37]:
titanic["Embarked"]=titanic["Embarked"].astype("category").cat.codes

In [38]:
titanic["Embarked"]

0      2
1      0
2      2
3      2
4      2
      ..
885    1
886    2
887    2
889    0
890    1
Name: Embarked, Length: 712, dtype: int8

In [39]:
train_X, train_y, test_X, test_y = split_label(titanic,0.2,'Survived')

In [40]:
train_X

     Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
419       3    0  10.0      0      2  24.1500         2
94        3    1  59.0      0      0   7.2500         2
452       1    1  30.0      0      0  27.7500         0
724       1    1  27.0      1      0  53.1000         2
479       3    0   2.0      0      1  12.2875         2
..      ...  ...   ...    ...    ...      ...       ...
618       2    0   4.0      2      1  39.0000         2
395       3    1  22.0      0      0   7.7958         2
207       3    1  26.0      0      0  18.7875         0
226       2    1  19.0      0      0  10.5000         2
163       3    1  17.0      0      0   8.6625         2

[569 rows x 7 columns]

In [68]:
index_Embarked= train_X.columns.get_loc('Embarked')
ohe=OneHotEncoder(
                  categories='auto',fea
  sparse_output=False).set_output(transform='pandas')

In [69]:
train_X_1=ohe.fit_transform(train_X)

ValueError: Shape mismatch: if categories is an array, it has to be of shape (n_features,).

In [57]:
train_X_1

     Embarked_0  Embarked_1  Embarked_2
419         0.0         0.0         1.0
94          0.0         0.0         1.0
452         1.0         0.0         0.0
724         0.0         0.0         1.0
479         0.0         0.0         1.0
..          ...         ...         ...
618         0.0         0.0         1.0
395         0.0         0.0         1.0
207         1.0         0.0         0.0
226         0.0         0.0         1.0
163         0.0         0.0         1.0

[569 rows x 3 columns]

In [58]:
min_max_scaler= MinMaxScaler()

In [59]:
train_X_2= min_max_scaler.fit_transform(train_X_1)

In [61]:
for i in range(3):
  print(train_X_2[i])

[0. 0. 1.]
[0. 0. 1.]
[1. 0. 0.]