In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [7]:
def split_label(df, test_size,label):
  train, test=train_test_split(df, test_size=test_size)
  features= df.columns.drop(label)
  train_X= train[features]
  train_y= train[label]
  test_X= test[features]
  test_y= test[label]

  return train_X,train_y,test_X,test_y

In [8]:
titanic=pd.read_csv('c:/Users/54112/Desktop/Big Data with Python/Big-Data/cap-5/data/titanic.csv')
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [9]:
train_X, train_y, test_X, test_y = split_label(titanic,0.2,'Survived')

In [ ]:
index_Embarked= train_X.columns.get_loc('Embarked')

In [10]:
ohe=OneHotEncoder(categorical_features=[index_Embarked],
  sparse=False)

TypeError: OneHotEncoder.__init__() got an unexpected keyword argument 'categorical_features'