In [17]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from functions import split_label

In [18]:
titanic=pd.read_csv('c:/Users/54112/Desktop/Big Data with Python/Big-Data/cap-5/data/titanic.csv')
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [19]:
titanic=titanic.drop(columns=["PassengerId","Name","Ticket","Cabin"])
titanic.head(2)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C

In [20]:
titanic=titanic.dropna()

In [21]:
titanic['Sex']=titanic["Sex"].astype('category').cat.codes

In [22]:
titanic["Sex"]

0      1
1      0
2      0
3      0
4      1
      ..
885    0
886    1
887    0
889    1
890    1
Name: Sex, Length: 712, dtype: int8

In [23]:
titanic["Embarked"]=titanic["Embarked"].astype("category").cat.codes

In [24]:
titanic["Embarked"]

0      2
1      0
2      2
3      2
4      2
      ..
885    1
886    2
887    2
889    0
890    1
Name: Embarked, Length: 712, dtype: int8

In [25]:
train_X, train_y, test_X, test_y = split_label(titanic,0.2,'Survived')

In [26]:
index_Embarked= train_X.columns.get_loc('Embarked')
ohe=OneHotEncoder(categorical_features=[index_Embarked],
  sparse=False)

TypeError: OneHotEncoder.__init__() got an unexpected keyword argument 'categorical_features'