In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, MinMaxScaler
import sklearn
from sklearn.compose import ColumnTransformer

In [44]:
sklearn.__version__

'1.2.2'

In [5]:
def split_label(df, test_size,label):
  train, test=train_test_split(df, test_size=test_size)
  features= df.columns.drop(label)
  train_X= train[features]
  train_y= train[label]
  test_X= test[features]
  test_y= test[label]

  return train_X,train_y,test_X,test_y

In [6]:
titanic=pd.read_csv('c:/Users/54112/Desktop/Big Data with Python/Big-Data/cap-5/data/titanic.csv')
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
titanic["Embarked"]

0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: Embarked, Length: 891, dtype: object

In [8]:
train_X, train_y, test_X, test_y = split_label(titanic,0.2,'Survived')

In [10]:
index_Embarked= train_X.columns.get_loc('Embarked')

In [ ]:
sklearn.__version__

In [11]:
index_Embarked

10

In [13]:
ohe = ColumnTransformer( [("embarked_ohe", OneHotEncoder(categories='auto'), ['Embarked'])], 
                         remainder='passthrough')
train_X_1 = ohe.fit_transform(train_X)

In [14]:
print(type(train_X_1))
print(train_X_1.shape)
print(train_X_1.dtype)
print(train_X_1)

<class 'numpy.ndarray'>
(712, 14)
object
[[0.0 0.0 1.0 ... '345773' 24.15 nan]
 [0.0 0.0 1.0 ... '370129' 20.2125 nan]
 [0.0 0.0 1.0 ... '364516' 12.475 nan]
 ...
 [0.0 0.0 1.0 ... '19996' 52.0 'C126']
 [0.0 0.0 1.0 ... 'C.A. 31026' 10.5 nan]
 [0.0 0.0 1.0 ... '347061' 6.975 nan]]

In [35]:
train_X_1

     Embarked_C  Embarked_Q  Embarked_S  Embarked_nan
753         0.0         0.0         1.0           0.0
737         1.0         0.0         0.0           0.0
98          0.0         0.0         1.0           0.0
333         0.0         0.0         1.0           0.0
10          0.0         0.0         1.0           0.0
..          ...         ...         ...           ...
326         0.0         0.0         1.0           0.0
348         0.0         0.0         1.0           0.0
354         1.0         0.0         0.0           0.0
717         0.0         0.0         1.0           0.0
256         1.0         0.0         0.0           0.0

[712 rows x 4 columns]

In [36]:
min_max_scaler=MinMaxScaler()

In [37]:
train_X_2= min_max_scaler.fit_transform(train_X_1)

In [38]:
train_X_2

array([[0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       ...,
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.]])